<%= if @current_account do %>
  <.link href={~p"/todo"} class="hover:underline">Click here for TodoApp</.link>
<% else %>
  <.link href={~p"/accounts/log_in"} class="hover:underline block">Login</.link>
  <.link href={~p"/accounts/register"} class="hover:underline block">Register</.link>
<% end %>